<app-home-page></app-home-page>
<div class="flex justify-center font-semibold mt-14">
<div style="font-size:xx-large">
    Password Generator

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full max-w-md">
    <div class="flex flex-col gap-2 my-3">
      <span class="text-base text-gray-700">Character Types:</span>
      <div class="grid grid-cols-2 gap-2">
        <label for="uppercase" class="flex items-center">
          <input type="checkbox" id="uppercase" class="mr-2 checkbox" formControlName="uppercase">
          <span class="text-sm text-gray-700">Uppercase</span>
        </label>
        <label for="lowercase" class="flex items-center">
          <input type="checkbox" id="lowercase" class="mr-2 checkbox" formControlName="lowercase">
          <span class="text-sm text-gray-700">Lowercase</span>
        </label>
        <label for="numbers" class="flex items-center">
          <input type="checkbox" id="numbers" class="mr-2 checkbox" formControlName="numbers">
          <span class="text-sm text-gray-700">Numbers</span>
        </label>
        <label for="symbols" class="flex items-center">
          <input type="checkbox" id="symbols" class="mr-2 checkbox" formControlName="symbols">
          <span class="text-sm text-gray-700">Symbols</span>
        </label>
      </div>
    </div>

    <div class="flex flex-col my-3">
      <div class="flex items-center">
        <label for="length" class="text-base text-gray-700 mr-2">Length:</label>
        <input type="number" id="length" class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" formControlName="length">
      </div>
      <div *ngIf="form.get('length')?.errors as errors" class="text-red-500 test-sm">
        <span *ngIf="errors['required']">Password Length is required</span>
        <span *ngIf="errors['min']">Minimum Length is {{ errors['min'].min }} </span>
        <span *ngIf="errors['max']"> Maximum Length is {{ errors['max'].max }}</span>
      </div>
    </div>

    <div class="flex items-center relative w-full">
      <input type="text" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" formControlName="password" readonly>

      <button type="button" class="absolute right-1 top-1 btn btn-sm text-gray-500 bg-white hover:bg-gray-200" onclick="navigator.clipboard.writeText(document.getElementById('password').value)">copy</button>
    </div>

    <button type="submit" class="text-white bg-gray-800 hover:bg-gray-950 font-medium btn" [disabled]="!form.valid" >Generate Password</button>
  </form>
</div>

</div>
